/*
 * Globals
 */
:root {
  --main-bg-color: #2c2c2c;
  --standard-btn-color: #2c2c2c;
  --hover-btn-color: #E3B04B;
  --hover-btn-logout-color: #BB2D3A;
}


/* Custom default button */
.btn-secondary,
.btn-secondary:focus {
  color: var(--standard-btn-color);
  text-shadow: none; /* Prevent inheritance from `body` */
}
.btn-secondary:hover {
  color: var(--hover-btn-color);
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-btn:hover,
.nav-masthead .nav-btn:focus {
  border-bottom-color: var(--hover-btn-color);
}

.nav-btn-logout:hover,
.nav-btn-logout:focus {
  border-bottom-color: var(--hover-btn-logout-color);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* My Additions */

.author {
  color: #fff;
  text-decoration: none;
}

.mind-clearer-link,
.mind-clearer-link:hover {
  color: #fff;
  text-decoration: none;
}

.profile-pic {
  border-radius: 50%;
}

.extra-margin {
  margin: 20px;
}