{% extends "base-public.html" %}

{% block title %}Contact{% endblock %}

{% block nav %}
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="features">Features</a>
  <a class="nav-link active" aria-current="page" href="contact">Contact</a>
{% endblock %}

{% block main %}
  <h1>Contact</h1>
  <p class="lead">I'm Thomas and I developed this app. If you have any trouble navigating the app or if you just want to say hi, please feel free to reach me through my <strong><span><a class="author" href="https://www.thomasplantin.com/" target="_blank">website</a></span></strong>.</p>
{% endblock %}