{% extends "base-public.html" %}

{% block title %}Features{% endblock %}

{% block nav %}
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link active" aria-current="page" href="features">Features</a>
  <a class="nav-link" href="contact">Contact</a>
{% endblock %}

{% block main %}
  <h1>Features</h1>
  <p class="lead">Your ideas, your emotions, your struggles... Untangle them and let them flow out through the tip of your fingers. Only then will your mind clear up to fully absorb the future ahead.</p>
  <p class="lead">
    <a href="login" class="btn btn-lg btn-success fw-bold">Login</a>
  </p>
{% endblock %}