{% extends "base-private.html" %}

{% block title %}Profile{% endblock %}

{% block nav %}
<a class="nav-link nav-btn" href="/home">Home</a>
<a class="nav-link nav-btn" href="thoughts">My Thoughts</a>
<a class="nav-link nav-btn active" aria-current="page" href="profile">Profile</a>
<a class="nav-link nav-btn-logout" href="logout">Logout</a>
{% endblock %}

{% block main %}
<img class="profile-pic extra-margin" src={{ picture_url }} alt="">
<h3><strong>Name:</strong> {{ user }}</h3>
<h3><strong>Email:</strong> {{ email }}</h3>
<a href="delete-profile" onclick="return confirm('Are you sure you want to delete your profile?')" class="extra-margin btn btn-lg btn-danger fw-bold">Delete Profile</a>
{% endblock %}